body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.filter-buttons {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.image img {
    width: 300px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.image img:hover {
    transform: scale(1.05);
}

#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: 70%;
    border-radius: 15px;
}